#content-text {
    color: rgb(27, 27, 158);
    text-align: left;
    padding-left: 15%;
    font-size: 35px;
}


 ul {
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  }

  .nav-bar li {
        float: right;

  }
  .nav-bar #brand-name{
    float: left;
    text-align: center;
    padding-left: 5%;
    color: goldenrod;
  }

  .nav-bar a{
    display: block;
    padding: 8px;
    
    color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  }

  .nav-bar a:hover{
    background-color: black;
  }
.main-info{
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
  }
  .main-info a{
    margin-top: 30px;
    text-align: center;
  }
  /* Styling for the image */
  .image img{
    padding-top: 25px;
    width: 100%;
   
    
   
  }

  #email-button{
    border: none;
  color: white;
  padding: 16px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
    background-color: white;
  color: black;
  border: 2px solid #e7e7e7;

  }

  #email-button a:hover{
    background-color: #666;

  }

  /* Styling for the text section */
  .bio-text h1{
    font-size: 50px;
  }



.bio-text p {
    font-size: 25px;
    color: #666;
    
  }

  .experience {
    text-align: center;
  }

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
  }

  .project-card {
    background-color: rgb(232, 232, 232);
    border: 1px solid rgb(198, 193, 193);;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
  }

  .project-card h3 {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
  }

  .project-card p {
    font-size: 0.9em;
    color: #666;
  }